<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- <app-capital-input
      (onEnter) = 'buscar($event)'

    ></app-capital-input> -->
    <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar capital..."></app-pais-input>
  </div>
</div>

<hr>
<div
  *ngIf="hayError"
  class="alert alert-danger">
  No se encontro nada con el termino: {{termino}}
</div>

<div
  *ngIf="capital.length > 0"

  class="row">
  <div class="col">
    <!-- <app-pais-tabla [paises] = 'capital'></app-pais-tabla> -->
    <app-capital-tabla [capital] = 'capital'></app-capital-tabla>
  </div>
</div>
